@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Markazi+Text:wght@400..700&display=swap');

button {
  background-color: #f4ce14;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  box-shadow: 0 4px 4px;
}

button:active {
  background-color: #ffffff;
  border: 2px solid;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
}
nav li {
  font-family: 'Karla', sans-serif;
}

.hero {
  background-color: #6e6f6e;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.hero-content {
  margin-left: 5vw;
}

.hero-content > h2 {
  font-family: 'Markazi Text', serif;
  font-weight: normal;
  font-size: 64px;
  color: #f4ce14;
}

.hero-content h3 {
  font-family: 'Markazi Text', serif;
  font-weight: normal;
  font-size: 40px;
  color: #ffffff;
}

.hero-content p {
  font-family: 'Karla';
  font-weight: normal;
  font-size: 18px;
  color: #ffffff;
  max-width: 40%;
}

.hero img {
  max-width: 40%;
  max-height: 400px;
}

.specials {
  background-color: #ffffff;
  text-align: center;
}

.specials-header > h2 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 40px;
}

.specials-grid {
  display: grid;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.specials-item {
  background-color: #edefee;
  padding: 20px;
}

.specials-item h3,
p {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 24px;
}

.specials-item button {
  margin-top: 10px;
}

.specials-item img {
  max-width: 150px;
}

.specials-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials {
  background-color: #d9d9d9;
  text-align: center;
}

.testimonials-header > h2 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 40px;
}

.testimonials-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.testimonials-item {
  background-color: #ffffff;
  padding: 20px;
  font-family: 'Karla';
  font-weight: bold;
  font-size: 14px;
}

.testimonials-item > p {
  font-family: 'Karla';
  font-weight: lighter;
  font-size: 14px;
}

.testimonials-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonial-detail img {
  max-width: 150px;
  border-radius: 10%;
}

.about {
  background-color: aliceblue;
  justify-content: center;
  display: flex;
  padding: 50px;
}

.about-content {
  margin-left: 0vw;
}

.about-content h1 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 64px;
}

.about-content h2 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 40px;
}

.about-content p {
  font-family: 'Karla';
  font-weight: bold;
  font-size: 20px;
  max-width: 50%;
}

.about img {
  max-width: 50%;
  max-height: 400px;
}

.footer {
  background-color: #d9d9d9;
  text-align: center;
}

.footer-grid {
  display: grid;
  justify-content: space-between;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

.footer-item > h4 {
  font-family: 'Karla';
  font-weight: bolder;
  font-size: 20px;
  color: #495e57;
}

.footer-item p {
  font-family: 'Karla';
  font-weight: normal;
  font-size: 20px;
}

.footer img {
  margin-top: 5%;
  max-width: 60%;
  max-height: 500px;
  border-radius: 5%;
}

.bookingForm {
  display: grid;
  gap: 20px;
  margin-bottom: 2%;
  justify-content: center;
}

.bookingForm h1 {
  font-family: 'Markazi Text';
  font-weight: normal;
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

.bookingForm label,
option,
button {
  font-family: 'Karla';
  font-weight: normal;
  font-size: 20px;
  color: black;
}

.bookingForm .submitButton {
  background-color: #f4ce14;
}

.fieldError {
  color: red;
  font-size: 0.85em;
  padding: 0;
  margin: 0;
}

.bookingMenu {
  width: 100%;
}

.bookingConfirmed {
  display: flex;
  justify-content: center;
}

.h1booking {
  display: flex;
  justify-content: center;
}

.bookingConfirmed img {
  max-width: 75%;
}
