nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  justify-content: center;
  column-gap: 15px;
  align-items: center;
}

.hero {
  background-color: darkslategrey;
  display: flex;
  justify-content: center;
  padding: 50px;
}

.hero-content {
  max-width: 20%;
}

.hero img {
  max-width: 40%;
}

.specials {
  background-color: bisque;
  text-align: center;
}

.specials-grid {
  display: grid;
  justify-content: space-around;
  padding: 20px;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.specials-item {
  background-color: rgb(172, 202, 229);
  padding: 20px;
}

.specials-item button {
  margin-top: 10px;
}

.specials-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials {
  background-color: rgb(221, 195, 195);
  text-align: center;
}

.testimonials-grid {
  display: grid;
  justify-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
}

.testimonials-item {
  background-color: beige;
  padding: 20px;
}

.testimonials-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.about {
  background-color: aliceblue;
  justify-content: center;
  display: flex;
  padding: 50px;
}

.about-content {
  max-width: 20%;
}

.about img {
  max-width: 50%;
}
